body {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: url(../imgs/bg-img.jpg) center top no-repeat;
}
.link-container a {
  text-indent: -9999px;
  display: block;
  float: left;
}
.link-a__pubg {
  width: 320px;
  height: 100px;
}
table a {
  color: #d6a245;
  text-decoration: underline;
}
.rank-container {
  width: 1000px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  height: 4905px;
  background: url(../imgs/inner-desc.jpg) center top no-repeat;
}
.desc-outer {
  margin-top: 120px;
  width: 1000px;
  height: 277px;
}
.desc-inner {
  width: 1080px;
}
.desc-card {
  width: 292px;
  height: 277px;
  background: url(../imgs/desc-card.jpg) center center no-repeat;
  float: left;
  margin-right: 63px;
}
.desc-card h3 {
  font-size: 40px;
  line-height: 36px;
  height: 40px;
  font-weight: normal;
  color: #fff;
  width: 252px;
  margin: 0 auto;
  letter-spacing: 2px;
  margin-bottom: 65px;
}
.desc-card h3 em {
  font-weight: bold;
  position: relative;
}
.desc-card h3 em span {
  position: absolute;
  height: 6px;
  background: #fff;
  width: 100%;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}
.desc-card h4 {
  font-size: 16px;
  width: 252px;
  font-weight: normal;
  color: #fff;
  margin: 17px auto 10px;
}
.desc-card p {
  color: #fff;
  width: 252px;
  margin: 0 auto;
  line-height: 28px;
  font-size: 16px;
}
.rank-title {
  font-size: 50px;
  color: #d6a245;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
}
.rank-title span {
  text-indent: -9999px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 2px;
  background: #fff;
}
.rank-title span.rank-titledesc-left {
  margin-right: 6px;
}
.rank-title span.rank-titledesc-right {
  margin-left: 6px;
}
.rank-title__section-0 {
  text-indent: -9999px;
  margin: 960px auto 0;
  color: #c8c8c8;
  background: url(../imgs/title-0.png) center center no-repeat;
}
.rank-section-0 .rank-desc {
  background: #2c2824;
  width: 1000px;
  height: 243px;
  padding-top: 50px;
  margin-top: 50px;
  overflow: hidden;
  background: url(../imgs/desc.png) center center no-repeat;
}
.rank-section-0 .rank-desc p {
  color: #c8c8c8;
  width: 893px;
  font-size: 16px;
  margin: 12px auto;
  line-height: 2;
  text-indent: 34px;
}
.netbar-container {
  width: 988px;
  height: 272px;
  margin-bottom: 4px;
  background: #423b33;
  overflow: hidden;
  padding: 12px 12px 12px 0;
}
.netbar-container > div {
  float: left;
}
.netbar-container img {
  width: 440px;
  height: 271px;
}
.netbar-ranking {
  width: 169px;
}
.netbar-ranking-level {
  color: #d4d3d3;
  font-size: 30px;
  text-align: center;
  margin: 30px auto 40px;
}
.netbar-ranking-level__important {
  color: #e29e0d;
}
.rank-title__section-2 {
  text-indent: -9999px;
  margin: 265px auto 125px;
  background: url(../imgs/title-2.png) center center no-repeat;
}
.citys {
  color: #d6a245;
  font-size: 30px;
  font-style: normal;
  font-family: 'microsoft yahei';
}
.changebtn {
  color: #a1917d;
  font-size: 16px;
  font-family: 'microsoft yahei';
  text-decoration: underline;
  margin-left: 25px;
}
.selectcity {
  padding-bottom: 13px;
  border-bottom: 1px solid #38322b;
  margin-bottom: 25px;
}
.netbar-desc {
  width: 353px;
  overflow: hidden;
  margin-left: 25px;
}
.netbar-title {
  margin-top: 24px;
  font-size: 30px;
  color: #d4d3d3;
  font-weight: bold;
  padding-bottom: 13px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #736f6a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.netbar-title h5 {
  float: left;
  max-width: 282px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.netbar-title p.netbar-tag {
  background: url(../imgs/bubble.png) center center no-repeat;
  width: 71px;
  height: 28px;
  font-size: 18px;
  text-indent: 14px;
  line-height: 28px;
  float: left;
  font-weight: normal;
  color: #09090d;
  margin-top: 10px;
}
.netbar-groupon {
  font-size: 24px;
  color: #e29e0d;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.netbar-event-data {
  font-size: 12px;
  color: #e29e0d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.netbar-address {
  color: #d4d3d3;
  margin-top: 24px;
  margin-bottom: 26px;
  max-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.netbar-location {
  color: #d4d3d3;
}
.netbar-qualify-desc {
  text-align: center;
  color: #d4d3d3;
  font-size: 16px;
}
.netbar-qualify-num {
  text-align: center;
  color: #d4d3d3;
  font-size: 16px;
  vertical-align: middle;
  margin-top: 10px;
}
.netbar-qualify-num em {
  font-size: 30px;
  margin-right: 5px;
  line-height: 35px;
  vertical-align: bottom;
}
.netbar-deco {
  margin: 0 auto 40px;
  width: 41px;
  height: 1px;
  background: #aeaeae;
}
.rank-title__section-1 {
  text-indent: -9999px;
  margin: 280px auto 0;
  width: 500px;
  background: url(../imgs/title-1.png) center center no-repeat;
}
.sprite {
  background-image: url(imgs/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.section-btn {
  overflow: hidden;
  margin: 290px auto 100px;
  font-family: 'microsoft yahei';
}
.sprite-btn {
  width: 410px;
  height: 80px;
  background-position: -5px -5px;
  float: left;
  font-size: 30px;
  color: #3a2406;
  text-align: center;
  line-height: 80px;
  margin: 0 40px;
  text-decoration: none;
}
.sprite-btn:hover {
  text-decoration: none;
}
.banner-data {
  color: #d4d3d3;
  font-size: 26px;
  text-align: center;
  margin-top: 900px;
}
.section-rules h3 {
  color: #d4d3d3 ;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-left: 20px;
}
.section-rules > div {
  margin-left: 20px;
}
.section-rules p {
  color: #9d9d9d;
  height: 34px;
  position: relative;
  line-height: 34px;
  text-indent: 40px;
  font-size: 14px;
}
.section-rules p em {
  color: #e39600;
}
.section-rules p span {
  display: block;
  position: absolute;
  line-height: 25px;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  color: #161616;
  width: 24px;
  height: 24px;
  text-indent: 0;
  text-align: center;
  background: url(../imgs/list-point.png) center center no-repeat;
}
.table-content th {
  text-align: center;
  padding: 0;
  font-family: 'microsoft yahei', serif;
  font-size: 16px;
  color: #d6a245;
  font-weight: normal;
  border-bottom: 1px solid #51483e;
}
.table-content th.netbar {
  width: 353px;
  height: 44px;
  border-left: 1px solid #51483e;
}
.table-content td {
  text-align: center;
  padding: 0;
  font-size: 16px;
  color: #e9e9e9;
  font-family: 'microsoft yahei', serif;
}
.table-content td em {
  color: #d6a245;
}
.table-content tr {
  background: #2a2622;
}
.table-content .table-first {
  border-right: 1px solid #51483e;
  border-left: none;
}
.table-content .table-first:last-child {
  border-bottom: none;
}
.table-content tbody tr {
  height: 70px;
  border: none;
}
.table-content tbody tr:last-child {
  border-bottom: none;
}
.title-block {
  width: 35px;
  margin: 0 auto;
}
.table-content tr.table-light {
  background: #423b33;
  height: 85px;
}
.table-container {
  margin-top: 70px;
  padding: 2px;
  border: 1px solid #51483e;
}
.table-first {
  width: 110px;
}
.title-desc {
  width: 177px;
  text-align: left;
  text-align: center;
}
.table-content-text {
  width: 300px;
  text-align: left;
  margin: 0 auto;
}
tbody tr {
  border-bottom: 1px solid #51483e;
  box-sizing: border-box;
}
thead tr th:first-child {
  border-right: 1px solid #51483e;
}
.guide-step {
  background: url(../imgs/step.png) left 8px no-repeat;
  width: 1000px;
  height: 1241px;
}
.guide-step h5 {
  color: #d4d3d3;
  font-size: 30px;
  font-weight: normal;
  margin-left: 167px;
}
.guide-step p {
  color: #a1917d;
  font-size: 16px;
  margin: 16px 0 50px 167px;
}
.guide-step a {
  color: #e39600;
  text-decoration: underline;
}
.guide-step img {
  margin-left: 167px;
}
.sub-section-1 {
  height: 578px;
}
.sub-section-2 {
  height: 582px;
}
.sub-section-3 a {
  display: block;
  font-size: 30px;
  font-family: 'microsoft yahei', serif;
  color: #3a2406;
  text-shadow: 1px 1px 3px #7b4900;
  text-decoration: none;
}
.sub-section-3 a:hover {
  text-decoration: none;
  color: #3a2406;
  text-shadow: 1px 1px 3px #7b4900;
}
.sprite-auth {
  background-image: url(../imgs/spritesheet1.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-auth-btn {
  width: 408px;
  height: 70px;
  background-position: -5px -5px;
  display: block;
  text-align: center;
  line-height: 70px;
  margin: 0 auto;
  text-shadow: 1px 1px 3px #7b4900;
}
.sprite-auth-btn:active {
  width: 408px;
  height: 70px;
  background-position: -5px -85px;
}
.sprite-new-btn {
  width: 414px;
  height: 84px;
  background-position: -5px -165px;
  text-align: center;
  line-height: 84px;
  font-size: 30px;
  color: #3a2406;
  float: left;
  text-shadow: 1px 1px 3px #7b4900;
  margin: 0 43px;
}
.sprite-new-btn:hover {
  text-decoration: none;
}
.sprite-new-btn:active {
  border: 2px solid #3a2406;
  width: 410px;
  height: 80px;
  line-height: 80px;
  background-position: -5px -259px;
}
.table-content td {
  border-bottom: 1px solid #51483e;
  border-left: 1px solid #51483e;
}
.table-content td.border-none {
  border-bottom: none;
}
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-auto-height.fp-section {
  height: auto!important;
}
.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.footer {
  border-top: 1px solid #252525;
  height: 160px;
  background: #0f0f0f;
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fp-enabled body,
html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fp-enabled body,
html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
